html,
body {
  background-color: #fff;
  color: #000;
}

body {
  margin: 0;
  font-family:
    sans-serif,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Oxygen",
    "Cantarell";
  text-rendering: optimizeLegibility;
}

form {
  margin: 0 auto;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.input__option,
.input__option--default {
  border: 1px solid #ccc;
  display: block;
  margin: 1rem 0;
  width: 75%;
  height: 25px;
}

.input__option--default {
  width: 98%;
}

#poll-name {
  border: 1px solid skyblue;
}

.submit-btn {
  border: 1px solid #000;
  margin-top: 2rem;
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  color: #000;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.5rem;
  outline-color: #96c8da;
}

button {
  border: 1px solid #000;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

ul a:hover {
  text-decoration: underline;
  text-decoration-color: gray;
  text-underline-position: under;
}

.navigation {
  text-align: center;
  display: none;
  flex-direction: column;
}

.navigation-mobile {
  text-align: center;
  flex-direction: column;
  display: flex;
}

@media (min-width: 900px) {
  li {
    border: 0;
  }
}

@media (min-width: 1200px) {
  .navigation-mobile {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .navigation {
    display: list-item;
  }

  .navigation a {
    margin-left: 1rem;
    margin-right: 1rem;
    color: #999;
    font-size: 20px;
    text-decoration: none;
  }
}

a {
  text-decoration: none;
}

li:before {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #CCC;
  margin-right: 20px;
}

select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

main {
  margin-top: 1.5rem;
}

.github-mark,
.google-mark {
  max-width: 45px;
}

.twitter-mark {
  max-width: 70px;
}

.auth-github,
.auth-twitter,
.auth-google {
  font-size: 1.5rem;
  color: grey;
  margin-top: 0.5rem;
}

.auth-link {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-wrapper {
  display: flex;
  flex-direction: column;
}

.details__submit {
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  color: #000;
  font-size: 1.5rem;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.5rem;
  outline-color: #96c8da;
}

.details__select {
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.25rem;
  border: 1px solid rgba(34,36,38,.15);
  min-width: 15rem;
  outline-color: #96c8da;
}

.details__select:focus {
  border-color: #96c8da;
}

#poll-name:focus {
  outline-color: deepskyblue
}

.input__option:focus {
  outline-color: skyblue;
}

.create-poll__add-btn {
  margin-top: 1rem;
  background-color: #fff;
  border-radius: 4px;
  border: 0;
  color: #000;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(34,36,38,.15);
  padding: 0.5rem;
  outline-color: #96c8da;
}

.user-poll__delete,
.delete-option {
  border-radius: 4px;
  background-color: #fa6b6b;
  display: inline-block;
  float: right;
  color: #fff;
  letter-spacing: 1.2px;
  border-color: #fff;
  padding: 0.25rem;
}

.user-poll__cancel {
  border-radius: 4px;
  background-color: #03a9f4;
  display: inline-block;
  float: right;
  color: #fff;
  letter-spacing: 1.2px;
  border-color: #fff;
  padding: 0.25rem;
}

.user-poll__delete:focus,
.user-poll__cancel:focus {
  outline: none;
}

.delete {
  display: block;
  margin: 1rem auto;
  border: 1px solid #E91E63;
  color: #E91E63;
  max-width: 70px;
}

.warning {
  background-color: #fafafa;
  text-align: center;
  width: 50%;
  padding: 10px;
  font-size: 14pt;
  color: #000;
  margin: 0 auto;
  position: relative;
  border-radius: 4px;
}

.warning__cancel {
  margin-left: 2rem;
}

.user-input-enter {
  opacity: 0.01;
}

.user-input-enter.user-input-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.user-input-leave {
  opacity: 1;
}

.user-input-leave.user-input-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
